
/*Laravel Styles*/
    html, body {
        background-color: #000;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        height: 100vh;
        margin: 0;
    }
    @media (max-width: 767px) {
        html, body {
           /* font-family: 'Roboto', sans-serif;*/
            font-weight: bold;
        }
    }


a{
    color: #fff;
}

/*a:visited {
    text-decoration: none;
}*/
.dropdown-menu>li>a:hover {
    color: red;
    background-color: #000;
}
a:hover {
    text-decoration: none;
    color: red;
}

/*a:active {
    text-decoration: none;
}*/

i {
        font-family: 'Raleway', sans-serif;
}


/*BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS */

.redBtn {
    color:red;
    background-color: #000;
    font-weight: bold;
    margin: 5px;
    border: solid 1px red;
    border-radius: 0px;
}
.redBtn:hover {
    color:#000;
    background-color: red;
        border: solid 1px #000;
    
    font-weight: bold;

}

.blueBtn {
    color:#66AFE9;
    background-color: #000;
    font-weight: bold;
    margin: 5px;
    border: solid 1px #66AFE9;
    border-radius: 0px;
}
.blueBtn:hover {
    color:#000;
    background-color: #66AFE9;
    border: solid 1px #000;
    font-weight: bold;

}

.whiteBtn {
    color:#D3D3D3;
    background-color: #000;
    font-weight: bold;
    margin: 5px;
    border: solid 1px #D3D3D3;
    border-radius: 0px;
}
.whiteBtn:hover {
    color:#000;
    background-color: #D3D3D3;
    border: solid 1px #000;   
    font-weight: bold;

}


/*WORK PAGE WORK PAGE WORK PAGE WORK PAGE WORK PAGE WORK PAGE WORK PAGE WORK PAGE WORK PAGE WORK PAGE */
.sectext{
    font-size: 18px;
}










.toollable{
    display: inline-block;
    color: red;
    padding-left: 7px;
    font-weight:700;
}



.dropdown-menu {
    color:#fff;
    background-color: #000;
    }
.dropdown-menu>li>a {
    color:#fff;
}


.landedit{
    background:transparent;
    margin: 0px;
    padding: 0px;
}

/*work image text when hovering*/
.img__wrap {
  position: relative;
  height: 200px;
  width: 235px;
  margin: 2em;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align:center;
/*  font-weight: bold;*/
  font-size: 1.5em;

  /* transition effect. not necessary */
  transition: opacity .1s, visibility .5s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.addtool{
    margin:3.5px;
}



.project{
    background-color: #000;
    padding: 2em 0em;

}

.plus{
    color:#337ab7;
    margin: 0em .5em .5em 0em;
}

.minus{
    color:red;
    margin: 0em 0;

}

.form-control{
    color:rgb(102, 175, 233);
    background-color: #000;
    border-radius: 0px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.blue{
background-color: blue;
color: blue;
border-radius: 0px;
}




    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }

    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }
/*End Laravel Styles*/



/*df page load icon*/
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../img/logo_black_sm.png') 50% 50% no-repeat rgb(249,249,249);
    }
/*END df page load icon*/

/*Background showing the mydexk image*/
    .mydesk{
        background: url('../img/mydesk.jpg') center center no-repeat fixed;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        min-height: 65em;
        max-width: 100%;
        margin:0px; 
        padding:0px
    }

    @media (max-width: 1024px) {
        .mydesk {
            background: url('../img/mydesk.jpg') center;
            -webkit-background-size: cover; 
            -moz-background-size: cover; 
            -o-background-size: cover; 
            background-size: cover;
            min-height: 35em;
            max-width: 100%;
        }
    }
    
    @media (max-width: 767px) {
        .mydesk {
            background: url('../img/mydesk.jpg') center;
            -webkit-background-size: cover; 
            -moz-background-size: cover; 
            -o-background-size: cover; 
            background-size: cover;
            min-height: 35em;
            max-width: 100%;
        }
    }
    .mydeskColor{
        background: url('../img/mydesk.jpg') center center no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 15em;
        margin:0px; 
        padding:0px;
        max-width: 100%;
    }
        @media (max-width: 1024px) {
        .mydeskColor {
            background: url('../img/mydesk.jpg') center;
            -webkit-background-size: cover; 
            -moz-background-size: cover; 
            -o-background-size: cover; 
            background-size: cover;
            min-height: 5em;
            max-width: 100%;

        }
    }
        @media (max-width: 767px) {
        .mydeskColor {
            background: url('../img/mydesk.jpg') center;
            -webkit-background-size: cover; 
            -moz-background-size: cover; 
            -o-background-size: cover; 
            background-size: cover;
            min-height: 5em;
            max-width: 100%;

        }
    }

    .mydeskBW{
        background: url('../img/mydeskBW.jpg') center center no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 15em;
        margin:0px; 
        padding:0px;
        max-width: 100%;
    }
    @media (max-width: 1024px) {
        .mydeskBW {
            background: url('../img/mydeskBW.jpg') center;
            -webkit-background-size: cover; 
            -moz-background-size: cover; 
            -o-background-size: cover; 
            background-size: cover;
            min-height: 5em;
            max-width: 100%;
        }
    }

    @media (max-width: 767px) {
        .mydeskBW {
            background: url('../img/mydeskBW.jpg') center;
            -webkit-background-size: cover; 
            -moz-background-size: cover; 
            -o-background-size: cover; 
            background-size: cover;
            min-height: 5em;
            max-width: 100%;
        }
    }


/* NAVBAR Styles */
.navbar-nav>li>.dropdown-menu {
    margin-top: 2px;
}




.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: red;
    background-color: #000;
    margin: 0px;
    border-bottom: 0px;
        font-weight: normal;
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-top: solid 2px #fff;
}

.navbar ul.nav > li > a:hover {
    color: #fff;
    border-top: solid 0px red;
    border-bottom: solid 0px red;
}

.dropdown-menu> {
    margin: 100px;
}

.dropdown-menu>li>a {
    margin: 10px;
}

    .navbar {
        border-bottom: solid 1px #fff;
        min-height: 55px;
        /*font-weight: bold;*/
        background-color: #000;
    }

    .navbar ul.nav > li > a {
        text-transform: uppercase;
        border-top: solid 2px transparent;
        color: #fff;
    }

    .navbar ul.nav > li > a:focus {
        color: #fff;
    }

    .navbar ul.nav > li > a:hover {
 /*       font-weight: bold;*/
        color: #fff;
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
    }
    @media (max-width: 767px) {
        .navbar ul.nav > li > a{
            min-height: 54px;
        }
        .navbar ul.nav > li > a:hover {
            border-top: solid 2px #f8f8f8;
            border-bottom: solid 2px #f8f8f8;
        }
    }

    .navbar-toggle{
        background-color: #5091da;
    }

    .navbar-default .navbar-nav>.active>a, 
    .navbar-default .navbar-nav>.active>a:focus, 
    .navbar-default .navbar-nav>.active>a:hover {
        background-color: #f8f8f8;
    }

    .navbar ul.nav > li.active > a,
    .navbar ul.nav > li.open > a {
        font-weight: bold;
    }
    @media (max-width: 767px) {
        .navbar ul.nav > li.active > a,
        .navbar ul.nav > li.open > a {
            font-weight: bold;
            color: #5091da;
            border-top: solid 2px #f8f8f8;
            border-bottom: solid 2px #f8f8f8;
        }
    }

    .navbar-brand {
        float: left;
        height: 50px;
        padding: 3px;
        font-size: 0px;
        line-height: 0px;
    }
    @media (max-width: 767px) {
        .navbar-brand{
            margin-left:10px;
        }
    }
/* END NAVBAR Styles */


/*FOOTER*/
.icons{
        margin: 10px 0px;
}

.icons img{
    margin: 10px;
    width:30px;
}


.foots{
    min-height: 40px;
    border-top: solid 1px #fff;
    color: #fff;
}

.footData{
    margin: 0px 10px 10px 0px;
    float: right;
}
    @media (max-width: 767px) {
        .footData{
       margin: 1em 2em;
        }
    }
/*END FOOTER*/

    .introName{
        color: #fff;
        font-size: 4em
    }
    @media (max-width: 767px) {
        .introName{
        font-size: 2em
        }
    }

    .introTitle{
        color: #fff;
        font-size: 2.5em
    }
    @media (max-width: 767px) {
        .introTitle{
        font-size: 2em
        }
    }

    .tools {
        background: transparent;
        padding: 3em;
    }
    @media (max-width: 767px) {
        .tools{
        padding: 1em;
        }
    }


    .work {
        background: transparent;
        padding: 3em;
    }
    @media (max-width: 767px) {
        .work{
        padding: 1em;
        }
    }
    
    .toolinput{
        padding-top: 1px;
    }

/*these styles hides the animation untill it fires*/
.os-animation{
  opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}

.staggered-animation{
  opacity: 0;
}

.staggered-animation{
    opacity: 1;
}

/*homepage circle profile picture*/
.img-circle {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 50%;
    width: 300px;
}
    @media (max-width: 767px) {
        .img-circle {
            width: 250px;
        }
    }

h3 { 
      line-height: 1.45;
}

.about{
    padding: 2em 15em 2em 15em;
    background-color: transparent;
    color: #fff;
}
@media (max-width: 767px) {
    .about {
        padding: 2em 2em 2em 2em;
    }
}

.abouttext{
    font-size: 16px;
}
    @media (max-width: 767px) {
        .about {
            font-size: 12px;
    }
}



 .about > h1{
    margin-top: 0;
    color:red;
 }



.skills{
    color: #fff;
    background-color: transparent;
    padding: 2em;
}
   @media (max-width: 767px) {
        .skills {
            padding: 1em;
        }
    }

.skill{
        color: #fff;
        background-color: transparent;
        padding: 1em;

}
 .foo{
    color: #fff;
    background-color: transparent;
    padding: 0em;
    margin-bottom: .5em;

}
   @media (max-width: 767px) {
        .foo {
            padding: 1em;
        }
    } 





.form-control{
    font-weight: bold;
    border-radius: 0px;
} 

.errs{
    color: red;
}

.redform-control {
    font-weight: bold;
    padding: 6px 12px;
    display: block;
    width: 100%;
    border: 1px solid red;
    min-height: 34px;

}


.catigory{

   color: #fff;
}

.company{
       font-weight: bold;
color: #fff;
}

.job{
     font-style: italic;
     font-size: 20px;
color: #fff;
}

.jd{
color: #fff;
}


.red{
    background-color: red;
}



.date{
    float: right;
/*    font-style: normal;*/
}

   @media (max-width: 700px) {
        .date {
            float:none;
        }
    }



 u {
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }​

